.tx {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.lk {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aqua;
}

* {
    background-color: #00B282;
}