.tx {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

* {
    background-color: cadetblue;
}