.tx {
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
    font-family: sans-serif;
}

.lk {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#FFFFFF;
    font-family: sans-serif;
}

* {
    font-family: sans-serif;
    background-color: #00B282;
}